.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: #7aa39d;
    color: #73bd91;
    padding: 2.5rem;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 4px solid #fefbd8;
  }
  
    .navbar ul {
        display: flex;
        align-items: center;
        list-style: none;
    }
  
    .navbar h2 {
        text-decoration: #7ca78c;
    }
  
    .navbar li {
        text-decoration: none;
        color: black;
        padding: 1rem;
        font-size: 1.5rem;
        margin: 0 0.5rem;
        border-radius: 5px;
        transition: all;
    }
  
  .navbar li :hover {
      background-color: #80d6ae;
  }
  
  .textPrimary {
    color: #61866e;
    text-align: center;
    font-size: 5.5rem;
  }
  
  .textDecore {
    color: #366b57;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
  }