.App {
    text-align: center;
}


.App-header {
    background-color: white;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    color: black;
    padding: 20px;
}

.SearchBar {
    width: 300px;
    height: 30px;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: grey 0px 1px 1px 1px;
    display: inline-block;
    padding: 5px;
    font-size: 15px;
}

.LogIn {
    display: inline-block;
    float: right;
    margin-right: 50px;
    font-weight: bold;
}

.header {
    background-color: whitesmoke;
    width: 100%;
    height: 70px;
    margin-top: 30px;
    font-weight: bold;
}

.categories {
    display: inline-block;
    padding: 20px;
    float: left;
}

.buy_info {
    display: inline-block;
    padding: 20px;
    float: right;
}

.sell {
    display: inline-block;
    padding: 20px;
    float: right;
}

.contact {
    display: inline-block;
    padding: 20px;
    float: right;
}

.vehicle {
    background-color: black;
    font-size: 50px;
    font-weight: bolder;
}

.type{
    background-color: whitesmoke;
}

.filters{
    background-color: grey;
}

.filter > div {
    width: 400px;
    height: 50px;
    font-size: 20px;
    color: dimgrey;
    display: inline-block;
    margin-left: 20px;
    text-align: center;
}

.filter{
    padding-bottom: 20px;
}

.green {
    color: white;
    display: inline-block;
}

.white {
    color: seagreen;
    display: inline-block;
    margin-left: 20px;
}

.results{
    width: 400px;
    height: 50px;
    margin-left: 15px;
    display: inline-block;
}

.convo{
    background-color: lawngreen;
    height: 600px;
    width: auto;

}

.input{
    width: 300px;
}

.chatbot{
    float: right;
}

.send{
    color: black;
    background-color: coral;
}


.textPrimary {
    color: #406d49;
    text-align: center;
    font-size: 3.5rem;
}

header {
    grid-area: header;
    background-color: #eef4f0;
    padding: 20px;
  }
  article {
    grid-area: content;
    background-color: #a6baaf;
    padding: 20px;
  }
  aside {
    grid-area: sidebar;
    background-color: #57816d;
  }
  footer {
    padding: 20px;
    grid-area: footer;
    background-color: #cdc6c1;
  }
  .wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      "header  header"
      "sidebar content"
      "footer  footer";
  }
  @media (max-width: 500px) {
    .wrapper {
      grid-template-columns: 4fr;
      grid-template-areas:
        "header"
        "content"
        "sidebar"
        "footer";
    }
  }

  .formBtn {
    width: 60%;
    margin-left: 10%;
    display: inline-flex;
    padding: 0.5rem 2rem;
    border: medium;
    border-radius: 5px;
    font-size: 1.2rem;
    background: #804f2a;
    color: #fff;
    margin-bottom: 1rem;
    cursor: pointer;
}
.formBtn:hover{
    background-color: #7a6454;
}

.textDecore {
    color: #36486b;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
  }

  .navbar {
    position: absolute;
    right: 2%;
    top: 3.5%;
  }
  
  
  .container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }